<div class="page-header"><h1>Angular4 Reddit like App</h1></div>
<div class="container">
  <p>Share your URL:</p>
  <form>
    <fieldset class="form-group">
      <label for="title">Title :</label>
      <input type="text" class="form-control" name="Title" placeholder="Add a title" #newtitle>
    </fieldset>
    <fieldset class="form-group">
      <label for="link">URL :</label>
      <input type="text" class="form-control" name="link" placeholder="Add a url" #newlink>
    </fieldset>

    <button class="btn btn-primary" (click)="addArticle(newtitle, newlink)">Share URL</button>

  </form>

  <app-article *ngFor="let article of articles" [article]="article"></app-article>

</div>
